<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードの再設定が依頼されました。下記リンクからパスワードを再設定してください。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードの再設定を依頼していない場合は、このメールは無視してください。</p>
<p>上記リンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
