<p>Welcome <%= @email %>!</p>

<p><%= t('devise.views.mailer.navigation_to_the_email_confirmation_link') %></p>

<p><%= link_to t('devise.views.mailer.confirm_my_account_link'), confirmation_url(@resource, confirmation_token: @token) %></p>
